<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Homepage: <%= @user.homepage if @user.homepage %></p>

<%= form_for(@user, url: user_path(@user)) do |f| %>
    <%= f.label(:homepage) %>
    <%= f.text_field(:homepage) %>
    <%= f.submit('Update', class: 'button') %>
<% end %>
